@import url(fonts.css);
@import url(partials/_variables.css);
@import url(partials/_global.css);

@import url("https://fonts.googleapis.com/css?family=Josefin+Sans:300,400,700&amp;display=swap");
@import url("https://fonts.googleapis.com/css?family=Open+Sans&amp;display=swap");

body {
  background-color: transparent;
}

html {
  scroll-behavior: smooth;
}

/* navbar */

@import "https://fonts.googleapis.com/css?family=Cabin";

header {
  padding: 0em;
  color: #000;
}
header .logo {
  font-weight: 700;
  position: fixed;

  top: 2.5%;
  left: 2%;
  z-index: 999;
}
header .logo:hover {
  transform: scale(1.1);
}
header .menu-btn {
  width: 18px;
  float: right;
  cursor: pointer;
  position: fixed;
  z-index: 999;
  left: 96%;
  top: 4%;
  transform: scale(1.6);
}
header .menu-btn:hover {
  transform: scale(1.8);
}

nav {
  position: fixed;
  background: var(--gradient-color);
  padding: 2em;
  width: 30%;
  height: calc(100vh);
  display: none;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: right;
  transform-origin: right;
  z-index: 9999;
  right: 0;
}
nav .close-button {
  width: 18px;
  float: right;
  cursor: pointer;
  opacity: 0;
  margin-right: auto;
}

nav ul {
  list-style-type: none;
  margin: 10% auto 0;
  padding: 0;
  display: -ms-grid;
  display: block;
  -ms-grid-columns: (auto) [4];
  grid-template-columns: repeat(4, auto);
  width: 80%;
}
nav ul a {
  color: #fff;
  font-weight: 700;
  font-size: 1.1em;
}
nav ul a:hover {
  text-decoration: none;
  color: rgb(255, 99, 43);
}

nav ul span {
  color: rgb(255, 255, 255);
  display: block;
  font-size: 0.75em;
  margin-top: 5px;
}
nav ul li {
  opacity: 0;
  margin-bottom: 1.8rem;
}

.show-menu {
  display: block;
  -webkit-animation: slide-menu 0.3s ease-in forwards;
  animation: slide-menu 0.3s ease-in forwards;
}
.show-menu .close-button {
  -webkit-animation: show-x 0.5s 0.5s forwards;
  animation: show-x 0.5s 0.5s forwards;
}
.show-menu li:nth-of-type(1) {
  -webkit-animation: menu-item-anim 0.6s forwards 1s ease-in-out;
  animation: menu-item-anim 0.3s forwards 0.2s ease-in-out;
}
.show-menu li:nth-of-type(2) {
  -webkit-animation: menu-item-anim 0.6s forwards 1.2s ease-in-out;
  animation: menu-item-anim 0.3s forwards 0.3s ease-in-out;
}
.show-menu li:nth-of-type(3) {
  -webkit-animation: menu-item-anim 0.6s forwards 1.6s ease-in-out;
  animation: menu-item-anim 0.3s forwards 0.4s ease-in-out;
}
.show-menu li:nth-of-type(4) {
  -webkit-animation: menu-item-anim 0.6s forwards 1.8s ease-in-out;
  animation: menu-item-anim 0.3s forwards 0.5s ease-in-out;
}
.show-menu li:nth-of-type(5) {
  -webkit-animation: menu-item-anim 0.6s forwards 1.8s ease-in-out;
  animation: menu-item-anim 0.3s forwards 0.6s ease-in-out;
}
.show-menu li:nth-of-type(6) {
  -webkit-animation: menu-item-anim 0.6s forwards 1.8s ease-in-out;
  animation: menu-item-anim 0.3s forwards 0.7s ease-in-out;
}
@-webkit-keyframes slide-menu {
  from {
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
  }
  to {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
}
@keyframes slide-menu {
  from {
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
  }
  to {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
}
@-webkit-keyframes show-x {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes show-x {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes menu-item-anim {
  from {
    -webkit-transform: translateY(70%);
    transform: translateY(70%);
    opacity: 0;
  }
  to {
    -webkit-transform: translateY(70%);
    transform: translateY(70%);
    opacity: 1;
  }
}
@keyframes menu-item-anim {
  from {
    -webkit-transform: translateY(70%);
    transform: translateY(70%);
    opacity: 0;
  }
  to {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

/* end navbar */

/* Banner area */

.rainbow-text {
  /* Create a conic gradient. */
  /* Double percentages to avoid blur (#000 10%, #fff 10%, #fff 20%, ...). */
  background: #ca4246;
  background-color: #ca4246;
  background: conic-gradient(
    #ca4246 16.666%,
    #e16541 16.666%,
    #e16541 33.333%,
    #f18f43 33.333%,
    #f18f43 50%,
    #8b9862 50%,
    #8b9862 66.666%,
    #476098 66.666%,
    #476098 83.333%,
    #a7489b 83.333%
  );

  /* Set thee background size and repeat properties. */
  background-size: 57%;
  background-repeat: repeat;

  /* Use the text as a mask for the background. */
  /* This will show the gradient as a text color rather than element bg. */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  /* Animate the text when loading the element. */
  /* This animates it on page load and when hovering out. */
  animation: rainbow-text-animation-rev 0.5s ease forwards;

  cursor: pointer;
}

/* Add animation on hover. */
.rainbow-text:hover {
  animation: rainbow-text-animation 0.5s ease forwards;
}

/* Move the background and make it larger. */
/* Animation shown when hovering over the text. */
@keyframes rainbow-text-animation {
  0% {
    background-size: 57%;
    background-position: 0 0;
  }
  20% {
    background-size: 57%;
    background-position: 0 1em;
  }
  100% {
    background-size: 300%;
    background-position: -9em 1em;
  }
}

/* Move the background and make it smaller. */
/* Animation shown when entering the page and after the hover animation. */
@keyframes rainbow-text-animation-rev {
  0% {
    background-size: 300%;
    background-position: -9em 1em;
  }
  20% {
    background-size: 57%;
    background-position: 0 1em;
  }
  100% {
    background-size: 57%;
    background-position: 0 0;
  }
}
.typed {
  font-style: italic;
  color: rgb(108, 11, 235);
}

/* Banner Area */

#home {
  padding-top: 5rem;
}

.site-main .site-banner .site-title h3 {
  padding-top: 15%;
  font-weight: 400;
  text-align: start;
}

.site-main .site-banner .site-title h3::after {
  content: " ";
  height: 2px;
  width: 6cm;
  background: black;
  display: inline-block;
  margin-left: auto;
  transform: translateY(-10px);
}

.site-main .site-banner .site-title h1 {
  font-size: 5rem;
  text-align: start;
}

.site-main .site-banner .site-title h4 {
  font-size: 1.5rem;
  text-align: start;
}

.site-main .site-banner .banner-image > img {
  padding: 2rem 0;
  width: auto;
}
.banner-image {
  padding-left: 10%;
  margin-top: 3.5%;
}

/* End Banner Area */

/* Start About Area */

.about-avatar img {
  height: auto;
  width: auto;
  border: 2px outset #ed4242;
  padding: 10px;
}

.about-social a.downloadCV span {
  padding-left: 5px;
}

.about-desc h2 {
  font-size: 32px;
  font-weight: 500;
  margin-top: 1rem;
}

.about-desc h3 {
  font-size: 18px;
  line-height: 32px;
  margin: 0 auto;
}

.about-desc-more {
  padding: 30px 30px 10px;
}

.about-desc-info {
  padding-bottom: 20px;
}

.about-desc-info b {
  padding-right: 10px;
}

.about-desc-info span,
.about-desc-info a {
  font-size: 14px;
  color: #5f6f81;
}

.about-desc-info a {
  text-decoration: underline;
}

.about-desc-info a:hover {
  text-decoration: none;
}

.img-thumbnail {
  background-color: #fff;
  border: 1px solid #dee2e6;
}

.section-about {
  margin: 0 auto;
  max-width: calc(1140px - 30px);
  background: #fff;
  margin-top: -200px;
  z-index: 100;
  position: relative;
  width: 95%;
  opacity: 0;
  visibility: hidden;
  border-radius: 25px;
  transition: 0.5s;
  transform: translateY(20px);
  padding: 0 !important;
  max-width: 950px;
  margin-top: 0rem;
}

.section-about:after {
  content: "";
  position: absolute;

  z-index: -354;
  height: 200px;
  width: 200px;
  display: block;

  top: -80px;
}

.section-about:before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  width: 90%;
  background: #fff;
  display: block;
  height: 70%;
  bottom: 0;
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.8);
  margin: 0 auto;
  z-index: -1;
}

.section-about.in {
  opacity: 1;
  visibility: visible;
  transform: translateY(0px);
}

.section-about-wrap {
  padding: 50px;
  background-color: #fff;
  box-shadow: 10px 10px 100px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

.section-about img {
  height: auto;
  margin: 0 auto;
  width: auto;
  object-fit: cover;
  display: block;
  border-radius: 50%;
}

.about-desc-content {
  max-width: 490px;
}

.about-desc-content p {
  font-size: 20px;
}

.about-desc-social li {
  margin-right: 15px !important;
  display: inline-block;
  transform: scale(1.2);
}

.about-desc-social li a {
  color: #333;
}

.about-desc-social li a:hover {
  color: #5001ee;
}

/* End About Area */

/* resume section */
.resume-list h5 {
  font-size: 18px;
  font-weight: 500;
}

.section-head {
  position: relative;
  margin-bottom: 50px;
  text-align: center;
  padding-top: 3rem;
}

.section-head h2 {
  font-size: 30px;
  z-index: 1;
  text-transform: uppercase;
  position: relative;
  display: inline-block;
  font-weight: 700;
}

.section-head h2:after,
.overlay-wrap h1:after {
  background-image: -webkit-linear-gradient(
    left,
    rgba(0, 0, 0, 0),
    rgb(165, 165, 165),
    rgba(0, 0, 0, 0)
  );
  background-image: -moz-linear-gradient(
    left,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.75),
    rgba(0, 0, 0, 0)
  );
  background-image: -ms-linear-gradient(
    left,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.75),
    rgba(0, 0, 0, 0)
  );
  background-image: -o-linear-gradient(
    left,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.75),
    rgba(0, 0, 0, 0)
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#000000', GradientType=1);
  position: absolute;
  left: 0;
  right: 0;
  height: 1px;
  width: 100%;
  content: "";
  bottom: -30px;
}

.section-head span {
  padding-bottom: 10px;
  display: block;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #878d8d;
}
.badge {
  font-family: "Open Sans", sans-serif;
}

.badge-dark {
  background: var(--gradient-color) !important;
}

.section-dark {
  background: #f7f7f7;
}

.section-dark .b-box {
  background: #fff;
}
.b-box {
  background: #fff;
  border-radius: 2px;
  overflow: hidden;
  border: 1px solid #eee;
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  -ms-transition: all 0.3s ease-in-out 0s;
  -o-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
  /*box-shadow: 0px 4px 8px rgba(134, 151, 168, 0.1);*/
}

.hover-state:hover {
  transform: translateY(-5px);
  box-shadow: 0px 4px 8px rgba(134, 151, 168, 0.1);
}

/* resumen section end */

/* Skills Area */

/*------/ Ico Circle /------*/
#skills {
  padding-top: 1rem;
  background-color: #f7f7f7;
  padding-bottom: 5rem;
}

.ico-circle {
  height: 100px;
  width: 100px;
  font-size: 2rem;
  border-radius: 50%;
  line-height: 1.55;
  margin: 0 auto;
  text-align: center;
  box-shadow: 0 0 0 10px #0078ff;
  display: block;
}

.skills-box {
  background-color: rgb(255, 255, 255);
  padding: 2.5rem 1.3rem;
  border-radius: 1rem;
  margin-bottom: 3rem;
  height: 12.2cm;
  width: auto;
}

.skills-box:hover .ico-circle {
  transition: all 500ms ease;
  color: #fff;
  background-color: #0078ff;
  box-shadow: 0 0 0 10px #cde1f8;
}

.skills-box .service-ico {
  margin-bottom: 1rem;
  color: #1e1e1e;
}

.skills-box .ico-circle {
  transition: all 500ms ease;
  font-size: 4rem;
}

.skills-box .s-title {
  font-size: 1.4rem;
  text-transform: uppercase;
  text-align: center;
  padding: 0.4rem 0;
}

.skills-box .s-description {
  color: #4e4e4e;
}
.skills-box .advanced {
  color: lawngreen;

  font-size: 16px;
  font-weight: 500;
  letter-spacing: 1.5px;
  font-style: italic;
}
.skills-box:hover .advanced {
  transition: all 0.15s ease-in-out;
  font-weight: 700;
  font-size: 17px;
}

.skills-box .intermediate {
  color: blue;

  font-size: 16px;
  font-weight: 500;
  letter-spacing: 1.5px;
  font-style: italic;
}
.skills-box:hover .intermediate {
  transition: all 0.15s ease-in-out;
  font-weight: 700;
  font-size: 17px;
}
.skills-box .begineer {
  color: yellow;

  font-size: 16px;
  font-weight: 500;
  letter-spacing: 1.5px;
  font-style: italic;
}
.skills-box:hover .begineer {
  transition: all 0.15s ease-in-out;
  font-weight: 700;
  font-size: 17px;
}
.owl-theme .owl-nav {
  margin-top: 10px;
  color: blue;
}
.owl-carousel .owl-nav button.owl-prev:hover {
  background-color: transparent;
  color: tomato;
  transform: scale(1.2);
}
.owl-carousel .owl-nav button.owl-next:hover {
  background-color: transparent;
  color: tomato;
  transform: scale(1.2);
}
.owl-theme .owl-dots .owl-dot span {
  width: 13px;
  height: 13px;
  margin: 0 4px;
  background: #cccccc;
  border-radius: 50%;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
  background-color: #5001ee;
}

/*  End Skills Area */

/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/
.contact h2 {
  text-align: center;
}

.contact .info {
  width: 100%;
  background: #fff;
}

.contact .info i {
  font-size: 20px;
  color: #5001ee;
  float: left;
  width: 44px;
  height: 44px;
  background: #eef7ff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  transition: all 0.3s ease-in-out;
}

.contact .info h4 {
  padding: 0 0 0 60px;
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 5px;
  color: #45505b;
}

.contact .info p {
  padding: 0 0 0 60px;
  margin-bottom: 0;
  font-size: 14px;
  color: #728394;
}

.contact .info .email,
.contact .info .phone {
  margin-top: 40px;
}

.contact .info .email:hover i,
.contact .info .address:hover i,
.contact .info .phone:hover i {
  background: #0563bb;
  color: #fff;
}

.contact .php-email-form {
  width: 100%;
  background: #fff;
}

.contact .php-email-form .form-group {
  padding-bottom: 8px;
}

.contact .php-email-form .validate {
  display: none;
  color: red;
  margin: 0 0 15px 0;
  font-weight: 400;
  font-size: 13px;
}

.contact .php-email-form .error-message {
  display: none;
  color: #fff;
  background: #ed3c0d;
  text-align: center;
  padding: 15px;
  font-weight: 600;
}

.contact .php-email-form .sent-message {
  display: none;
  color: #fff;
  background: #18d26e;
  text-align: center;
  padding: 15px;
  font-weight: 600;
}

.contact .php-email-form .loading {
  display: none;
  background: #fff;
  text-align: center;
  padding: 15px;
}

.contact .php-email-form .loading:before {
  content: "";
  display: inline-block;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin: 0 10px -6px 0;
  border: 3px solid #18d26e;
  border-top-color: #eee;
  -webkit-animation: animate-loading 1s linear infinite;
  animation: animate-loading 1s linear infinite;
}

.contact .php-email-form input,
.contact .php-email-form textarea {
  border-radius: 4px;
  box-shadow: none;
  font-size: 14px;
}

.contact .php-email-form input {
  height: 44px;
}

.contact .php-email-form textarea {
  padding: 10px 12px;
}

.contact .php-email-form button[type="submit"] {
  background: #5001ee;
  border: 0;
  padding: 10px 35px;
  color: #fff;
  transition: 0.4s;
  border-radius: 50px;
}

.contact .php-email-form button[type="submit"]:hover {
  background: #0678e3;
}

@-webkit-keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
  background: #f7f8f9;
  color: #45505b;
  font-size: 14px;
  text-align: center;
  padding: 30px 0;
}

#footer h3 {
  font-size: 36px;
  font-weight: 700;
  position: relative;
  font-family: "Poppins", sans-serif;
  padding: 0;
  margin: 0 0 15px 0;
}

#footer p {
  font-size: 15;
  font-style: italic;
  padding: 0;
  margin: 0 0 40px 0;
}

#footer .social-links {
  margin: 0 0 40px 0;
}

#footer .social-links a {
  font-size: 18px;
  display: inline-block;
  background: #5001ee;
  color: #fff;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}

#footer .social-links a:hover {
  background: #0678e3;
  color: #fff;
  text-decoration: none;
}

#footer .copyright {
  margin: 0 0 5px 0;
}

#footer .credits {
  font-size: 13px;
}

/* PROJECTS Area */

.why-choose-area {
  padding-bottom: 80px;
  position: relative;
  z-index: 1;
}

.single-choose-box {
  margin-bottom: 30px;
  position: relative;
  overflow: hidden;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  border-radius: 3px;
  border: 1.5px groove #f2ecff;
}

.single-choose-box img {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  border-radius: 0px;
  max-width: 100%;
  height: aau;
}

.single-choose-box .title {
  position: absolute;
  left: 32px;
  bottom: 25px;
  z-index: 1;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  max-width: 100%;
}

.single-choose-box .title h3 {
  background-color: #5001ee;

  color: #ffffff;
  display: inline;
  white-space: pre-wrap;
  -webkit-box-shadow: -7px 0 0 #5001ee;
  box-shadow: -7px 0 0 #5001ee;
  font-size: 23px;
  font-weight: 500;
  padding-left: 0;
  padding-right: 7px;
  padding-top: 0;
  padding-bottom: 3px;
  border-radius: 5px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  opacity: 1;
}

.single-choose-box .content {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  background: #5001ee;
  border-radius: 5px;
  padding: 25px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  opacity: 0;
  visibility: hidden;
  margin-top: 25px;
  margin-bottom: 25px;
  margin-left: 25px;
  margin-right: 25px;
}

.single-choose-box .content .inner-content {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 25px;
  right: 25px;
  margin: 0 auto;
}

.single-choose-box .content .inner-content h3 {
  color: #ffffff;
  line-height: 1.3;
  margin-bottom: 0;
  margin-top: -6px;
  font-size: 23px;
  font-weight: 700;
}

.single-choose-box .content .inner-content h3 a {
  color: #ffffff;
}

.single-choose-box .content .inner-content p {
  color: #ffffff;
  margin-bottom: 15px;
  margin-top: 13px;
}

.single-choose-box .content .inner-content .read-more-btn {
  color: #ffffff;
  background-color: tomato;
  padding: 5px;
  border-radius: 3px;
}
.single-choose-box .content .inner-content .read-more-btn:hover {
  text-decoration: none;
  background-color: rgb(255, 67, 34);
}

.single-choose-box .content .inner-content .read-more-btn i {
  color: #ffffff;
}
.bx-fade-up {
  color: #5001ee !important;
  font-size: x-large;
  font-weight: 900;
}

.single-choose-box:hover img {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.single-choose-box:hover .content {
  opacity: 1;
  visibility: visible;
  -webkit-transform: scale(1);
  transform: scale(1);
}

.single-choose-box:hover .title {
  opacity: 0;
  visibility: hidden;
}

/* End Projects Area */

/* certification area */

@import url("https://fonts.googleapis.com/css?family=Dosis:200,300,400,500,600,700,800&display=swap");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&display=swap");

.feedback-area {
  position: relative;
  z-index: 1;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
}

.single-feedback-item {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background-color: #ffffff;
  margin-bottom: 30px;
  position: relative;
  text-align: center;
  border: 1px solid #eeeeee;
  border-radius: 5px;
  margin-top: 32px;
}

.single-feedback-item .feedback-desc {
  border-bottom: 1px solid #eeeeee;
}

.single-feedback-item .feedback-desc p {
  margin-bottom: 0;
  position: relative;
  font-size: 16px;
  font-style: italic;
}

.single-feedback-item .feedback-desc p::before {
  content: '"';
  position: relative;
  display: inline-block;
  left: 0;
  color: #57647c;
}

.single-feedback-item .feedback-desc p::after {
  content: '"';
  position: relative;
  display: inline-block;
  right: 0;
  color: #57647c;
}

.single-feedback-item .client-info {
  position: relative;
  padding-left: 30px;
  text-align: left;
  max-width: 180px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
  margin-bottom: 5px;
  text-align: center;
}

.single-feedback-item .client-info img {
  width: 45px !important;
  height: 45px !important;
  display: inline-block !important;
  border-radius: 50%;
  position: absolute;
  left: -15%;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.single-feedback-item .client-info h3 {
  margin-bottom: 0;
  font-size: 18px;
  font-weight: 600;
  padding: 0;
  margin: 0;
}

.single-feedback-item .client-info span {
  display: block;
  color: #074ece;
  margin-top: 4px;
  font-family: "Dosis", sans-serif;
  padding: 0;
  margin: 0;
}

.owl-item.active.center .single-feedback-item {
  -webkit-box-shadow: 0 0 40px 3px rgba(0, 0, 0, 0.05);
  box-shadow: 0 0 40px 3px rgba(0, 0, 0, 0.05);
  border-color: #ffffff;
  border-radius: 5px;
}

.owl-item.active.center .single-feedback-item::before {
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
}

.feedback-slides.owl-theme .owl-nav.disabled + .owl-dots {
  line-height: 0.01;
  margin-bottom: 30px;
  margin-top: 10px;
}

.feedback-slides.owl-theme .owl-dots .owl-dot span {
  width: 13px;
  height: 13px;
  margin: 0 4px;
  background: #cccccc;
  border-radius: 50%;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.feedback-slides.owl-theme .owl-dots .owl-dot.active span,
.feedback-slides.owl-theme .owl-dots .owl-dot:hover span {
  background-color: #5001ee;
}

/* certification end */

/* preloader */

.loading-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #f5f5f5;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.logo {
  width: 48px;
  height: 48px;
}

.loading-bar {
  width: 130px;
  height: 2px;
  background: #cfcfcf;
  margin-top: 22px;
  position: relative;
  overflow: hidden;
}

.loading-bar::before {
  content: "";
  width: 68px;
  height: 2px;
  background: #0073b1;
  position: absolute;
  left: -34px;
  animation: bluebar 1.5s infinite ease;
}

@keyframes bluebar {
  50% {
    left: 96px;
  }
}

.loaded {
  visibility: hidden;
  opacity: 0;
  transition: 0s all ease-in-out;
}

/* preloader end */

/* Global Classes */

.title-text {
  font: normal bold 50px/ 72px var(--roboto);
}

.text-uppercase {
  text-transform: uppercase;
}

/* Buttons */

.button {
  padding: 0.8rem 2.2rem;
  font: normal 500 16px/20px var(--roboto);
  position: relative;
  border: 3px solid transparent;
  border-radius: 4px;
}

.button.primary-button {
  background: var(--gradient-color);
  background-clip: padding-box;
  color: whitesmoke;
  transition: background 0.6s ease;
  box-shadow: var(--box-shadow);
}

.button.primary-button:hover {
  background: whitesmoke;
  background-clip: padding-box;
  color: black;
}

.button.primary-button::after,
.button.secondary-button::after {
  position: absolute;
  top: -2px;
  left: -2px;
  bottom: -2px;
  right: -2px;
  background: var(--gradient-color);
  content: " ";
  z-index: -1;
  border-radius: 4px;
}

.button.secondary-button {
  background: white;
  background-clip: padding-box;
  transition: background 0.6s ease;
}

.button.secondary-button:hover {
  background: var(--gradient-color);
  color: whitesmoke;
  box-shadow: var(--box-shadow);
}

p.para {
  color: var(--text-color);
  font: normal 500 16px/ 25px var(--roboto);
}

.font-roboto {
  font-family: var(--roboto);
}

button:focus,
button:active button:hover .btn:active,
.btn.active {
  outline: 0px !important;
  box-shadow: none !important;
}

.title-h1 {
  font: normal bold 39px/ 40px var(--roboto);
}

html,
body {
  margin: 0%;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}

/* CSS Variables */

:root {
  --primary-color: #4458dc;
  --primary-color2: #854fee;
  --title-color: #141313;
  --text-color: #777777;
  --border-color: #201f1f17;
  --gradient-color: linear-gradient(90deg, #4458dc 0%, #854fee 100%);
  --shadow-color: 0px 10px 30px rgba(118, 85, 225, 0.3);
  --box-shadow: 0px 5px 10px rgba(57, 56, 61, 0.205);

  /* font family variables. */
  --roboto: "roboto";
}
